/* universal selectors*/

* {
  box-sizing: border-box;
}

:root {
  --main-color: #436dfa;
  --second-color: #c1cefa;
  --third-color: #e4efe9;
  --highlight-color-1: #2d3325;
  --highlight-color-2: #a5fa43;
  --background-color: white;
}

html {
  color: var(--main-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.025em;
  font-size: 16px;
}

*::selection {
  background-color: var(--second-color);
}

/* tag selectors*/

body {
  margin: 0;
  background-color: var(--background-color);
}

@media screen and (min-width: 786px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 19px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Syncopate", sans-serif;
}

li {
  padding-bottom: 1rem;
}

/* class selectors*/

.header {
  padding: 3rem 1rem;
  text-align: center;
  background-image: linear-gradient(
    -335deg,
    var(--second-color) 0%,
    var(--background-color) 100%
  );
}

.name-profession-header {
  font-size: 4rem;
}

.name-header {
  font-size: 1em;
  margin-bottom: 0;
  line-height: 1;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: "🍏";
}

.badge-header {
  color: var(--highlight-color-1);
  background-color: var(--highlight-color-2);
  font-family: "Syncopate", sans-serif;
  padding: 0.7rem 0.7rem;
  margin: 0;
  font-weight: 700;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 0.5rem;
  transform-origin: 100% 0%;
  transition: transform 0.5s ease-in-out;
}

.header:hover .badge-header,
.header:focus-within .badge-header {
  transform: scale(1.5);
}

@media screen and (min-width: 992px) {
  .badge-header {
    position: fixed;
  }
}

.nav-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 786px) {
  .nav-group {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  color: var(--main-color);
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  transition-timing-function: ease-in-out;
}

.nav-link:hover {
  background-color: var(--highlight-color-2);
}

.nav-link:active {
  color: var(--highlight-color-1);
  background-color: var(--highlight-color-2);
}

.nav-link:focus {
  border: 1px solid var(--highlight-color-1);
}

.main {
  padding: 1rem;
  max-width: 90ch;
  margin: 0 auto;
}

.main .articles {
  border-top: 1px solid var(--main-color);
  padding: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 786px) {
  .main .articles {
    border-top: 1px solid var(--main-color);
    margin-top: 3rem;
    padding-top: 3rem;
  }
}

.main > :first-child {
  border-top: none;
}

@media screen and (min-width: 768px) {
  .articles {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }
}

.article-header {
  position: relative;
  left: -1rem;
}

.article-content {
  margin-top: 3.5rem;
}
.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 786px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.experience-heading {
  display: inline;
}

.experience-sub-heading {
  display: inline;
}

.link {
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  color: inherit;
}

@media print {
  .badge-header {
    display: none;
  }
  .nav {
    display: none;
  }
}

.footer {
  padding: 3rem;
  text-align: center;
  background-color: var(--second-color);
}
