/* universal selectors*/

* {
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
  color: #191919;
  line-height: 1.5;
  letter-spacing: 0.025em;
  font-size: 16px;
}

*::selection {
  background-color: #f2eadf;
}

/* tag selectors*/

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a:hover {
  color: blue;
  background-color: lightsteelblue;
}

a:active {
  color: gold;
  background-color: lightyellow;
}

li {
  padding-bottom: 0.5rem;
}

/* class selectors*/

.header {
  padding: 3rem 1rem;
  text-align: center;
  background-color: #f2eadf;
}

.profession::after {
  content: "🌝";
}

.main {
  padding: 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

.nav {
  margin: 0.5rem;
  padding: 0.25rem 0.25rem;
  color: #191919;
}

.main article {
  border-top: 1px solid #191919;
  padding: 1rem;
}

.main > :first-child {
  border-top: none;
}

.main article {
  margin-top: 1rem;
}

.link {
  margin: 0.5rem;
  padding: 0.25rem 0.25rem;
  color: inherit;
}

.experience-heading {
  display: inline;
}

.experience-sub-heading {
  display: inline;
}

.badge-header {
  background-color: lightyellow;
  color: gold;
  padding: 1rem 1rem;
  margin: 0px;
  font-weight: 700;
  position: absolute;
  right: 4rem;
  top: 4rem;
}

.article-header {
  position: relative;
  left: -1rem;
}
